#import sickbeard.version
#import sickbeard

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>Sick Beard - alpha $sickbeard.version.SICKBEARD_VERSION - $title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="SHORTCUT ICON" href="$sbRoot/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="$sbRoot/images/sickbeard_touch_icon.png"/>
	<link rel="stylesheet" type="text/css" href="$sbRoot/css/jquery.autocomplete.css" />	
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/defaultcolors.css"/>
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/comingEpisodes.css" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/tablesorter.css"/>
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/pepper-grinder/jquery-ui-1.8.7.custom.css" />
    <link rel="stylesheet" type="text/css" href="$sbRoot/css/browser.css" />	
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="$sbRoot/css/iphone.css" />
	<link rel="stylesheet" type="text/css" href="$sbRoot/css/config.css" />	
	<link rel="stylesheet" type="text/css" href="$sbRoot/css/ui.notify.css" />		
    <script type="text/javascript" src="$sbRoot/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="$sbRoot/js/jquery-ui-1.8.7.custom.min.js"></script>
    <script type="text/javascript" src="$sbRoot/js/jquery.tablesorter-2.0.5b.min.js"></script>
    <script type="text/javascript" src="$sbRoot/js/jquery.selectboxes.min.js"></script>
    <script type="text/javascript" src="$sbRoot/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="$sbRoot/js/jquery.cookiejar.js"></script>
    <script type="text/javascript" src="$sbRoot/js/jquery.json-2.2.min.js"></script>
    <script type='text/javascript' src='$sbRoot/js/tools.tooltip-1.2.5.min.js'></script>
	<script type='text/javascript' src='$sbRoot/js/jquery.autocomplete.min.js'></script>
	<script type='text/javascript' src='$sbRoot/js/jquery.notify-1.4.min.js'></script>	
    <script type="text/javascript" src="$sbRoot/js/browser.js"></script>
</head>
<body>
<a name="top">
<div id="header">
    <span id="logo"><a href="$sbRoot/home/" title="Sick Beard homepage"><img alt="Sick Beard" src="$sbRoot/images/sickbeard_small.png" width="150"></a></span>
    <span id="versiontext">alpha $sickbeard.version.SICKBEARD_VERSION</span>
    <span id="tagline"><br /><a class="imgLink" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JA8M7VDY89SQ4" target="_new"><img src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0"></a></span>
</div>
<span class="MainMenu">
    #for $menuItem in $menu:
        #if $topmenu == $menuItem.key
            <a class="current" href="$sbRoot/$menuItem.key">$menuItem.title</a> |
        #else
            <a href="$sbRoot/$menuItem.key">$menuItem.title</a> |
        #end if
    #end for
    <br />
</span>

#if $varExists('submenu'):
<span class="SubMenu">
#for $menuItem in $submenu:
    #if 'requires' not in $menuItem or $menuItem.requires():
    <a href="$sbRoot/$menuItem.path">$menuItem.title</a> |
    #end if
#end for
</span>
#end if

<h1>#if $varExists('header') then $header else $title#</h1>


<script>
\$(document).ready(function(){
\$("#notification-container").notify();

#if $sickbeard.NEWEST_VERSION_STRING:
\$("#notification-container").notify("create", 3, {
	    title: "Update Available"
},{
    expires: false,
    speed: 300
});
#end if

#for $curMessage in $flash.messages():
\$("#notification-container").notify("create", #if $curMessage[1] then "1" else "0"#, {
	    title: "$curMessage[0]",
		text: "$curMessage[1]"
});
#end for

#for $curError in $flash.errors():
\$("#notification-container").notify("create", 2, {
	    title: "$curError[0]",
		text: "$curError[1]"
},{
    expires: false,
    speed: 300
});
#end for	
});
</script>

<div id="notification-container">
	<div class="ui-notify-message ui-notify-message-style">
			<a href="#" class="ui-notify-close ui-notify-cross">x</a>
			<div style="float: left; padding-right: 10px; margin-top: -5px;"><img alt="warning" src="$sbRoot/images/check32.png"></div>
			<h1 style="border: 0px;">#{title}</h1>
			<p>#{text}</p>
	</div>
	<div class="ui-notify-message ui-notify-message-style">
			<a href="#" class="ui-notify-close ui-notify-cross">x</a>
			<div style="float: left; padding-right: 10px; margin-top: -5px;"><img alt="warning" src="$sbRoot/images/check48.png"></div>
			<h1 style="border: 0px;">#{title}</h1>
			<p>#{text}</p>
	</div>

	<div class="ui-notify-message ui-notify-message-style">
			<a href="#" class="ui-notify-close ui-notify-cross">x</a>	
			<div style="float: left; padding-right: 10px; margin-top: -5px;"><img alt="warning" src="$sbRoot/images/alert48.png"></div>
			<h1 style="border: 0px;">#{title}</h1>
			<p>#{text}</p>
	</div> 	
	
	<div class="ui-notify-message ui-notify-message-style" style="margin-left: -130px;">
			<a href="#" class="ui-notify-close ui-notify-cross">x</a>	
			<div style="float: left; padding-right: 10px; margin-top: -5px;"><img alt="warning" src="$sbRoot/images/alert48.png"></div>
			<h1 style="border: 0px;">#{title}</h1>
			<p>$sickbeard.NEWEST_VERSION_STRING</p>
	</div> 	
</div>
